@charset "UTF-8";

#navbar__logo:visited {
    font-size: 24px;
    color:#f0f4f5;
}
.navbar{
    background-color:#263343 ;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    top: 0; left: 0;
    position: fixed;
    width: 100%;
    height: 66px;
    color:#f0f4f5;
    font-size: 24px;
    line-height: 66px;
}
.navbar__logo i {
    color: #d49466;
}
body{
    font-family: 'Nanum Gothic';
}

.inputBox{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p {
    width: 30%;
    height: 500px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3{
    font-size: 32px;
}
.id>input{
    outline: 0;
    border-width: 0 0 1px;
    transition : 0.2s ease-in-out;
    width: 200px;
}
.id>input:hover{
    border-bottom: #ffe3cb  3px solid;
    border-image: linear-gradient(to right,rgb(241, 227, 125) 0%, #e1a880  50%, #ffc641d8 100% );
    border-image-slice: 1;
    
}
.pw>input{
    outline: 0;
    border-width: 0 0 1px;
    transition : 0.2s ease-in;
    width: 200px;
}
.pw>input:hover{
    border-bottom: #ffe3cb  3px solid;
    border-image: linear-gradient(to right,rgb(241, 227, 125) 0%, #e1a880  50%, #ffc641d8 100% );
    border-image-slice: 1;
}
#login{
    font-family: 'Nanum Gothic';
    font-size: 16px;
    background-color: rgba(255,255,255,0.01);
    border: none;
    width: 80px;
    flex-direction: column;
}
a{
    text-decoration-line: none;
}
#loc_page{
    color : black;
}
#loc_page:visited{
    color : black;
}
input{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border: 1px solid lightgray;
    outline: none;
}


@import url('https://fonts.googleapis.com/css?family=Song+Myung:400');
        footer{
            position: fixed;
            bottom: 0; left: 0;
            height: 70px;
            width: 100%;
            padding:10px;
            text-align: center;
            line-height:1.5em;
            background-color: #263343;
            color:azure;
            font-family:'Song Myung',sans-serif;                
            }
        i{
            color:azure;
            font-size:1em;
        }